@font-face {
    font-family:"CourierCode Bold";
    src: url("fonts/CourierCode-Bold.ttf") format("truetype");
}
html, body {
    height: 100%;
}
body {
    background-color: #32313E; /*#34343F;*/
    overflow: hidden;
}
.container {
    height: 100%;
}
.nav {
    height: 10%;
    line-height: 50px;
    border-bottom: 1px solid #615454;
    font-family:'Days One', sans-serif;
}
.head_left {
    color: #fff;
    font-weight: bold;
}
.wrapper {
    height: 87%;
}
.tile {
    height: 100%;
    padding: 0;
    font-family: monospace;
}
.myrow {
    display: inline-block;
    width: 100%;
    -webkit-perspective: 3000px;
    -ms-perspective: 3000px;
    perspective: 3000px;
}
.tile:active .cover, .tile:focus .cover, .tile:hover .cover, .tile.click .cover {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg)
}


.cover {
    -webkit-transition: .6s;
    transition: .6s;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.down, .up {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    display: block
}
.up {
    z-index: 2;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #32313E;
}
.down {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    background: #1D1A21;
    color: #FFF;
    padding: 0 10px;
    padding-top: 40%;
    text-align: justify;
}
.tile_lbl {
    font-family:'Days One', sans-serif;
    color: #fff;
    position: absolute;
    text-align: center;
    font-size: 25px;
    background-color: #1D1A21;
    width: 100%;
    top: 80%;
    z-index: 3;
    transition: all 0.6s ease;
}

.tile:active .tile_lbl, .tile:focus .tile_lbl, .tile:hover .tile_lbl, .tile.click .tile_lbl {
    top: 10%;
    background-color: #FF8C8C;
    color: #32313E;
}


#letterpress {
    margin-top:200px;
    text-align:center;
}
#letterpress h1 {
    font-size:60px;
    font-family: Arial, Helvetica, sans-serif;
    color: #504f4f;
    text-shadow: 0px 2px 1px #bbbaba;
}
#letterpress h1:hover {
    color: #666;
    text-shadow: 0px 2px 1px #333;
}

.footer {
    height: 1%;
    font-size: 10px;
    color: #fff;
    width: 100%;
    text-align: center;
}